<div class="container-fluid">
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">
                    <a href="#feesView" data-toggle="collapse">Fees Entry</a>
                </div>
            </div>
            <div id="feesView" class="panel-collapse">
                <div class="panel-body">

                    <form class="form-horizontal" [formGroup]="feesData" (ngSubmit)="payFees(feesData.value)">
                        <div class="col-sm-12" *ngIf="showMessage">
                            <div class="alert alert-info">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                                <strong>{{message.message}}</strong>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group col-sm-11">
                                <label for="customerName"> Customer Name</label>
                                <select id="customerName" class="form-control" formControlName="customerUserName">
                                    <option value="">Please select one</option>
                                    <option *ngFor="let customer of customerList" value="{{customer.userName}}">
                                        {{customer.customer.customerName | uppercase}}
                                    </option>
                                </select>
                                <div class="text-danger" *ngIf="feesData.controls.customerUserName.errors">
                                    <div *ngIf="feesData.controls.customerUserName.errors?.required">
                                        Required
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-sm-11">
                                <label for="subscription"> Subscription </label>
                                <select id="subscription" class="form-control" formControlName="subscriptionType" (change)="dateAutoPopulate($event.target.value)">
                                    <option value="">Please select one</option>
                                    <option value="30">One Month</option>
                                    <option value="90">Three Month</option>
                                    <option value="180">Six Month</option>
                                </select>
                                <div class="text-danger" *ngIf="feesData.controls.subscriptionType.errors">
                                    <div *ngIf="feesData.controls.subscriptionType.errors?.required">
                                        Required
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group col-sm-11">
                                <label for="duration"> Duration </label>
                                <div class="form-inline">
                                    <input type="date" class="form-control" formControlName="durationFrom" [(ngModel)]="fromDate">
                                    <input type="date" class="form-control" formControlName="durationTo" [(ngModel)]="toDate">
                                </div>
                                <div class="text-danger" *ngIf="feesData.controls.durationFrom.errors || feesData.controls.durationTo.errors">
                                    <div *ngIf="feesData.controls.durationTo.errors?.required || feesData.controls.durationFrom.errors?.required">
                                        Duration Date is Required
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-sm-8">
                                <label for="feeAmt"> Amount </label>
                                <input type="number" class="form-control" id="feeAmt" formControlName="amount" [(ngModel)]="amount">
                                <div class="text-danger" *ngIf="feesData.controls.amount.errors">
                                    <div *ngIf="feesData.controls.amount.errors?.required">
                                        Required
                                    </div>
                                    <div *ngIf="feesData.controls.amount.errors?.min">
                                        Amount should be greater than ZERO
                                    </div>
                                </div>
                            </div>
                            <div class="form-action col-sm-2">
                                <input type="hidden" class="form-control" formControlName="status">
                                <label for=""></label>
                                <input type="submit" class="btn btn-success" [disabled]="!feesData.valid" value="Pay">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">
                    <a href="#report" data-toggle="collapse">Fees Report</a>
                </div>
            </div>
            <div id="report" class="panel-collapse">
                <div class="panel-body">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-2">
                                <label class="radio-inline">
                                    <input type="radio" name="paymentOption" value="experied" (click)=feesReport($event.target.value)>Payment Expired
                                </label>
                            </div>
                            <div class="col-sm-2">
                                <label class="radio-inline">
                                    <input type="radio" name="paymentOption" value="future" (click)=feesReport($event.target.value)>Future Payment
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Sno</th>
                                    <th>User Name/Email</th>
                                    <th>Expire/Due Date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let fees of feesList;let i=index">
                                    <td>{{i+1}}</td>
                                    <td>{{fees.customerUserName}}</td>
                                    <td>{{fees.durationTo}}</td>
                                    <td>
                                        <button class="btn btn-primary btn-xs" data-title="view" data-toggle="modal" data-target="#view" (click)="userFeesDetails(fees.customerUserName)">
                                            <span class="glyphicon glyphicon-list"></span>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="view" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
                <h4 class="modal-title custom_align" id="Heading">{{viewName}}'s fees Details</h4>
            </div>
            <div class="modal-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>S.no</th>
                            <th>SubscriptionType</th>
                            <th>Duration From</th>
                            <th>Duration To</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let feesuser of feesListInfo;let i=index">
                            <td>{{i+1}}</td>
                            <td>{{feesuser.subscriptionType}} Days's</td>
                            <td>{{feesuser.durationFrom}}</td>
                            <td>{{feesuser.durationTo}}</td>
                            <td>{{feesuser.amount}} </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>